-e git://github.com/Coding-Badly/python-dispatch.git#egg=python-dispatch
evdev; platform_system == "Linux"
pytest
python-dispatch
pywin32; platform_system == "Windows"
PyYAML
pyzipper
requests
